<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="bg-gray-100 text-gray-900">
  <% playlists.forEach(playlist=> { %>

    <!-- Playlist Container -->
    <div class="max-w-4xl mx-auto my-10 p-6 rounded-lg shadow-lg bg-white">

      <!-- Playlist Header -->
      <div class="playlist-header flex items-center justify-between mb-8">
        <a href="/playlist/songs/<%= playlist._id %>" class="text-4xl font-bold">
          <%= playlist.name %>
        </a>
        <img src="/images/<%= playlist.poster %>" alt="<%= playlist.name %> Poster"
          class="w-32 h-32 object-cover rounded-lg shadow-lg">
      </div>

      <!-- Playlist Owner -->
      <div class="playlist-owner mb-6">
        <h3 class="text-xl font-semibold text-gray-700">Created By: <%= username %>
        </h3>
      </div>

      <!-- Timestamps -->
      <div class="playlist-info text-sm text-gray-500 flex items-center justify-between">
        <div>
          <p>Created on: <%= playlist.createdAt.toDateString() %>
          </p>
          <p>Last updated: <%= playlist.updatedAt.toDateString() %>
          </p>
        </div>
        <a href="/music/allsongs/<%= playlist._id %>" class="text-blue-500">Add songs</a>
      </div>
    </div>
    <% }) %>
</body>

</html>