<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/showPlaylist.css">
</head>

<body class="bg-black h-screen text-slate-400 ">
  <div
    class="h-screen w-full p-6 zero-playlist overflow-hidden max-[400px]:p-4 [@media(min-width:820px)_and_(max-width:1020px)]:p-4">

    <div class="nav h-[40px] w-full bg-[#040404] px-4 py-2 text-white overflow-hidden">
      <div class="h-full w-full flex items-center justify-between">
        <div class="h-full w-max relative flex items-center">
          <div class="max-[400px]:hidden capitalize">
            <%= user.username %>
          </div>
          <div class="absolute top-0 -left-5 w-28 h-[35%] blur-md -rotate-45 bg-emerald-400"></div>
        </div>
        <div class="hidden max-[400px]:block select-none">&nbsp;</div>
        <div class="flex items-center gap-6 max-[530px]:gap-2 max-[530px]:text-xs">
          <a class="block create-new-playlist cursor-pointer">Create New Playlist</a>
          <div class="w-[2px] h-2 bg-emerald-700 hidden max-[530px]:block "></div>
          <a href="/home" class="block">Home</a>
        </div>
      </div>
    </div>

    <div
      class="playlists-list flex h-[90%] w-full overflow-y-auto overflow-x-hidden my-9 gap-5 flex-wrap [@media(min-width:820px)_and_(max-width:1020px)]:gap-2 [@media(min-width:820px)_and_(max-width:1020px)]:my-5 max-[820px]:justify-center max-[530px]:gap-2 max-[530px]:my-5 max-[400px]:justify-normal max-[400px]:flex-nowrap max-[400px]:flex-col">
      <% if(playlists && playlists.length> 0) { %>
        <% playlists.forEach((playlist, index)=> { %>

          <!-- Playlist Container -->
          <% if(playlist) { %>
            <div
              class="playlist-element w-[465px] h-max px-6 py-5 flex items-start gap-8 rounded-lg shadow-lg bg-black border border-emerald-800  [@media(min-width:940px)_and_(max-width:1020px)]:w-[440px] [@media(min-width:820px)_and_(max-width:940px)]:w-[380px] [@media(min-width:820px)_and_(max-width:1020px)]:p-4 max-[530px]:px-3 max-[530px]:py-2 max-[530px]:gap-1 max-[530px]:w-[328px] max-[400px]:w-[245px] max-[400px]:py-3 max-[400px]:mr-3 <%= index % 2 === 0 ? 'max-[400px]:self-start' : 'max-[400px]:self-end' %>">

              <!-- Playlist Header -->
              <div class="playlist-header">
                <a href="/playlist/songs/<%= playlist._id %>"
                  class="block mb-2 text-2xl font-bold text-zinc-300 [@media(min-width:820px)_and_(max-width:1020px)]:text-xl max-[530px]:text-base max-[530px]:mb-1 <%= index % 2 === 0 ? 'max-[400px]:self-start max-[400px]:text-left' : 'max-[400px]:self-end max-[400px]:text-right' %>">
                  <%= playlist.name %>
                </a>
                <div class="h-[1.2px] w-full bg-emerald-900 mb-4 max-[530px]:mb-2"></div>
                <div class="flex gap-6 [@media(min-width:820px)_and_(max-width:1020px)]:gap-4 max-[530px]:gap-2">
                  <img
                    src="<%= playlist.poster ? '/images/picture/' + playlist.poster : '/images/picture/default-image.webp' %>"
                    alt="<%= playlist.name %> Poster"
                    class="w-48 h-36 object-cover rounded-md shadow-lg [@media(min-width:820px)_and_(max-width:940px)]:w-36 [@media(min-width:820px)_and_(max-width:940px)]:h-32 max-[530px]:w-32 max-[530px]:h-28 max-[400px]:w-20 max-[400px]:h-[66px] max-[400px]:rounded">
                  <div class="flex flex-col justify-between playlist-info text-sm max-[530px]:text-xs">
                    <div class="playlist-owner mb-2 max-[400px]:mb-0">
                      <h3
                        class="text-xl flex items-center flex-wrap font-semibold [@media(min-width:820px)_and_(max-width:940px)]:text-sm max-[530px]:text-sm max-[400px]:text-xs max-[400px]:font-normal">
                        Created By: <div
                          class="truncate-text capitalize ml-1 text-wrap text-zinc-300 max-[530px]:ml-0 max-[400px]:font-semibold">
                          <%= user.username %>
                        </div>
                      </h3>
                    </div>
                    <div class="">
                      <p class="max-[400px]:text-[9px]">Created on:
                        <span class="text-zinc-300 max-[400px]:font-semibold">
                          <%= playlist.createdAt.toDateString() %>
                        </span>
                      </p>
                      <p class="max-[400px]:hidden">Last updated:
                        <span class="text-zinc-300">
                          <%= playlist.updatedAt.toDateString() %>
                        </span>
                      </p>
                    </div>
                    <div class="flex items-center justify-between max-[400px]:gap-2">
                      <a href="/music/allsongs/<%= playlist._id %>" class="text-emerald-500">Add songs</a>
                      <div class="edit-playlist text-emerald-500 cursor-pointer">Edit</div>
                      <div playlistId="<%= playlist._id %>" class="delete-playlist text-red-500 cursor-pointer">Delete
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- show edit playlist page after click on edit button -->
            <div class="show-edit-playlist absolute top-0 left-0 w-full h-full hidden">

              <!-- main page -->
              <div class="main-edit-page w-full h-full flex items-center justify-center">
                <div class="bg-[#282828] w-[400px] px-5 py-4 rounded-md flex flex-col items-start gap-4">
                  <div class="w-full flex items-center justify-between">
                    <h1 class="text-xl font-semibold text-white">
                      Edit Playlist
                    </h1>
                    <i class="close-edit-playlist ri-close-line text-lg cursor-pointer font-semibold text-white"></i>
                  </div>

                  <!-- Form -->
                  <form action="/playlist/update/<%= playlist._id %>" method="post" enctype="multipart/form-data"
                    class="playlist-form-show w-full flex items-start justify-between">

                    <!-- form left-part -->
                    <div
                      class="select-playlist select-playlist-left-edit relative drop-shadow-md h-36 w-[40%] flex items-center justify-center rounded">
                      <div
                        class="playlist-edit-menu cursor-pointer hidden absolute z-20 top-1 right-3 text-white rotate-90 px-1 py-1 bg-black/70 rounded-full">
                        <i class="ri-more-2-line"></i>
                      </div>
                      <div
                        class="choose-options-edit select-playlist hidden absolute z-30 flex items-start justify-center flex-col text-sm py-2 rounded -right-[108px] top-10 text-white text-nowrap">
                        <div class="change-image-edit hover:bg-[#3E3E3E] px-4 py-2 cursor-pointer" href=""><i
                            class="ri-file-image-line"></i> &nbsp;
                          Change photo</div>
                        <div playlistId="<%= playlist._id %>"
                          class="delete-image-show hover:bg-[#3E3E3E] px-4 py-2 cursor-pointer" href=""><i
                            class="ri-delete-bin-line"></i> &nbsp;
                          Delete photo
                          &nbsp;</div>
                      </div>
                      <label
                        class="upload-img-show change-image-edit w-full h-full flex items-center justify-center cursor-pointer"
                        for="image">
                        <img id="uploadedImage-edit" imageId="image-<%= playlist._id %>"
                          src="<%= playlist.poster ? '/images/picture/' + playlist.poster : '/images/picture/default-image.webp' %>"
                          class="uploaded-img z-10 pointer-events-none object-cover" />
                        <div class="img-icon-show absolute hidden flex items-center flex-col cursor-pointer text-white">
                          <i class="ri-file-image-line text-xl"></i>
                          <div class="text-sm">Choose Image</div>
                        </div>
                      </label>
                      <input class="hidden" type="file" name="image" id="image-edit" accept=".jpg, .jpeg, .png">
                    </div>

                    <!-- form right-part -->
                    <div class="w-[55%] select-playlist h-36 rounded px-3 py-2 flex items-end flex-col justify-between">
                      <div>
                        <label class="text-sm text-white/50" for="playlist-name">Name</label>
                        <input
                          class="w-full mt-2 h-7 rounded-sm bg-[#3E3E3E] text-white text-sm px-2 outline-none border border-[#3E3E3E] focus:border-white/50"
                          type="text" name="name" value="<%= playlist.name %>" id="playlist-name">
                      </div>
                      <input class="bg-white rounded-full px-6 py-1 cursor-pointer" type="submit" value="Save">
                    </div>
                  </form>
                  <p class="img-error-message-edit text-red-500 hidden"></p>
                </div>
              </div>
            </div>

            <% } %>
              <% }) %>
                <% } else { %>
                  <div
                    class="main-edit-page zero-playlist relative h-full w-full flex flex-col gap-4 items-center justify-center">
                    <h1 class="text-3xl text-center text-gray-400 max-[510px]:text-xl">You haven't created any playlists
                      yet.</h1>
                    <a
                      class="create-new-playlist text-gray-300 bg-emerald-900 px-6 py-2 cursor-pointer hover:text-gray-200 hover:bg-emerald-800 max-[510px]:px-4 max-[510px]:py-1">Create
                      Playlist</a>
                  </div>
                  <% } %>
    </div>
  </div>

  <%- include("./Home/createPlaylist.ejs") %>
    <div class="bg-[#04110C] after-click-create-playlist hidden w-full h-screen"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/javascripts/showPlaylist.js"></script>
</body>

</html>